{% import "elements/datetime.html" as datetime %} {% macro view(event) -%}
<a target="_blank" href="{{ event.link }}">
  {{ event.name }} at {{ datetime.time(event.start) }} {% if event.end %} to {{
  datetime.time(event.end) }} {% endif %} on {{ datetime.date(event.start) }} {%
  if event.end %} {% if event.differentDay %} to {{ datetime.date(event.end) }}
  {% endif %} {% endif %}
</a>
{%- endmacro %} {% macro next(event) -%}
<a target="_blank" href="{{ event.link }}">
  Upcoming: {{ event.name }} at {{ datetime.time(event.start) }} {% if event.end
  %} to {{ datetime.time(event.end) }} {% endif %} on {{
  datetime.date(event.start) }} {% if event.end %} {% if event.differentDay %}
  to {{ datetime.date(event.end) }} {% endif %} {% endif %}
</a>
{%- endmacro %} {% macro upcoming(events) -%} {% for event in events %}
<div>view(event)</div>
{% endfor %} {%- endmacro %}
